html
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body
{
    scroll-snap-type: y mandatory;     /*For Elastic scrolling Safari*/
}
#navgear
{
    height: 32px;
    width:32px;
}
h1,h2,h3
{
    font-family: 'Pacifico',serif;
}
.container-fluid
{
    height: 100vh;
    scroll-snap-align: start;
}
#landing-page
{
    background-color:#F2F2ED;
    scroll-snap-align: start;
}
#projects-page
{
    background-color: #AEE3D6;
}
#certification-page
{
    background-color: #9CEAB7;
}
#skills-page
{
    background-color: #efefda;
}
#about-page
{
    background-color: #c3eaf3;
}
.avatarImg
{
    max-width: 100%;
}
p
{
    line-height: 150%;
}
.skills-container
{
    width:100%;
    background-color: #dddddd;
    text-align: right;
}
.skills-html
{
    width: 90%;
    background-color: #4dffa6;
}
.skills-css
{
    width: 80%;
    background-color: #4dffa6;
}
.skills-js
{
    width: 70%;
    background-color: #4dffa6;
}
.skills-python
{
    width: 60%;
    background-color: #4dffa6;
}
.skills-csharp
{
    width: 70%;
    background-color: #4dffa6;
}
.skills-asp
{
    width: 60%;
    background-color: #4dffa6;
}
.skills-bootstrap
{
    width: 75%;
    background-color: #4dffa6;
}
.skills-jquery
{
    width: 50%;
    background-color: #4dffa6;
}
.skills-sql
{
    width: 50%;
    background-color: #4dffa6;
}
.card
{
    border: none;
}
footer
{
    background-color:#f0f0cb;
    height: 100% !important;
}


@media (min-width: 768px)
{
    .avatarImg
    {
        margin-top: 12%;
    }

    .intro
    {
        margin-top: 17%;
    }
    .row .col-md-3
    {
        margin-left: 2%;
    }
    
}

@media (max-width: 768px)
{
    .intro
    {
        margin-top:20%
    }
    .container-fluid
    {
        height: 100%;
    }
    .ondesktop
    {
        display: none;
    }
}
